<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>无底柱分段崩落法放矿效果监测系统</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="css/demo01.css" />
    <script type="text/javascript" src="js/jquery.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/bootstrap-table.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="js/echarts.min.js" charset="UTF-8"></script>
</head>

<body>
<div id="dtBox"></div>
<!--顶部的logo图片及系统名称-->
<div class="header">
    <img src="img/logo.png">
    <div>无底柱分段崩落法放矿效果监测系统</div>
</div>
<!--中间的监控内容部分-->
<div class="content">
    <div class="query">
				<span>
					<center>
						开始时间:<input id="begin_date" type="text" class="sang_Calender"/>
					</center>
				</span>
        <span>
					<center>
						结束时间:<input id="end_date" type="text" class="sang_Calender" />
					</center>
				</span>
        <button id="export">导出</button>
        <button id="reset">重置</button>
        <button id="query">查询</button>
    </div>
    <div id="cknum_total" class="cknum-total">
        <div class="cknum-title">出矿次数汇总</div>
        <div class="cknum-info">
            <div id="total_num" style="float: left; width: 590px; height: 30px; text-align: center;">总工作次数：230</div>
            <div id="aver_num" style="float: left; width: 590px; height: 30px text-align: center;">平均每天工作次数：23</div>
        </div>
        <div class="cknum-left">
            <div id="ck_view">
                <div id="ck_canvas" class="cknum-view"></div>
            </div>
        </div>
        <div class="cknum-right">
            <div class="cklist-title">出矿次数列表</div>
            <div id="cklist_table" class="cklist-table">
                <table id="cknum_table"></table>
            </div>
        </div>
    </div>
    <div id="timeinte_total" class="timeinte-total">
        <div class="timeinte-title">时间间隔汇总</div>
        <table class="time-table">
            <tr>
                <td style="float: left; width: 148px; height: 40px text-align: center;">
                    <div style="width:148px; height: 40px; line-height: 40px;"></div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div style="width:208px; height: 40px; line-height: 40px;">每次最长时间间隔</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div style="width:210px; height: 40px; line-height: 40px;">每次最短时间间隔</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div style="width:210px; height: 40px; line-height: 40px;">每天平均最长时间间隔</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div style="width:210px; height: 40px; line-height: 40px;">每天平均最短时间间隔</div>
                </td>
                <td style="float: left; width: 190px; height: 40px; text-align: center;">
                    <div style="width:190px; height: 40px; line-height: 40px;">总平均时间隔时间隔</div>
                </td>
            </tr>
            <tr>
                <td style="float: left; width: 148px; height: 40px text-align: center;">
                    <div style="width:148px; height: 40px; line-height: 40px;">时间</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="time_max_inter" style="width:210px; height: 40px; line-height: 40px;">23sec</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="time_min_inter" style="width:210px; height: 40px; line-height: 40px;">23sec</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="time_every_max_inter" style="width:210px; height: 40px; line-height: 40px;">23sec</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="time_every_min_inter" style="width:210px; height: 40px; line-height: 40px;">23sec</div>
                </td>
                <td style="float: left; width: 190px; height: 40px; text-align: center;">
                    <div id="time_total_aver_inter" style="width:190px; height: 40px; line-height: 40px;">23sec</div>
                </td>
            </tr>
            <tr>
                <td style="float: left; width: 148px; height: 40px text-align: center;">
                    <div style="width:148px; height: 40px; line-height: 40px;">日期</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="date_max_inter" style="width:210px; height: 40px; line-height: 40px;">2017-07-30 00:01:12</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="date_min_inter" style="width:210px; height: 40px; line-height: 40px;">2017-07-30 00:01:12</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="date_every_max_inter" style="width:210px; height: 40px; line-height: 40px;">2017-07-30 00:01:12</div>
                </td>
                <td style="float: left; width: 210px; height: 40px; text-align: center;">
                    <div id="date_every_min_inter" style="width:210px; height: 40px; line-height: 40px;">2017-07-30 00:01:12</div>
                </td>
                <td style="float: left; width: 190px; height: 40px; text-align: center;">
                    <div style="width:190px; height: 40px; line-height: 40px;">/</div>
                </td>
            </tr>
        </table>
        <div class="timeinte-left">
            <div id="timeinte_view">
                <div id="timeinte_canvas" class="timeinte-view"></div>
            </div>
        </div>
        <div class="timeinte-right">
            <div class="timelist-title">平均时间间隔列表</div>
            <div id="time_list_table">
                <table id="time_table"></table>
            </div>
        </div>
    </div>
    <div id="details_total" class="details-total">
        <div class="details-title">查询详细结果</div>
        <div class="details-left">
            <div id="details_view">
                <div id="details_canvas" class="details-view"></div>
            </div>
        </div>
        <div class="details-right">
            <div class="deslist-title">查询结果详细列表</div>
            <div id="detail_list_table">
                <table id="details_table"></table>
            </div>
        </div>
    </div>
</div>
<!--底部版权说明及友情链接部分-->
<div class="footer">
    Copyright©<a href="http://www.ustl.edu.cn/new/" target="_blank">辽宁科技大学</a>矿业工程学院采矿实验室&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>地址：辽宁省鞍山市立区千中路185号</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>邮编：114051</span>
</div>

<script type="text/javascript" src="js/demo01.js"></script>
<script type="text/javascript" src="js/datetime.js" ></script>
<script type="text/javascript">
    $(function(){
        $("#query").click(function(){
            getData();
        });

        $("#reset").click(function(){
            setNowTime();
        });

        $("#export").click(function(){
            exportPDF();
        });

        setNowTime();
        getData();
    });

    //设置时间为当前时间
    function setNowTime(){
        var d = new Date();
        var y = d.getFullYear();
        var m = (d.getMonth() + 1);
        var day = d.getDate();
        if((d.getMonth() + 1) < 10){
            m = "0" + (d.getMonth() + 1);
        }
        if(d.getDate()< 10){
            day = "0" + d.getDate();
        }
        $("#begin_date").val(y + "-" + m + "-" + day + " 00:00:00");
        $("#end_date").val(y + "-" + m + "-" + day + " 00:00:00");
    }

    function getData(){
        var beginTime = $("#begin_date").val();
        var endTime = $("#end_date").val();
        console.log(beginTime);
        console.log(endTime);
        //用Ajax从服务器获取json格式的数据
        var sendData = {"queryTimeFrom": beginTime, "queryTimeTo": endTime};
        var url = "/data";
        $.post(url, sendData, function(data,status){
            if(status == "success"){
                //如果获取数据成功，调用重新绘制数据的方法
                drawQueryData(data);
            }else{
                alert("查询数据出错！");
            }
        });
//        $.get(url, function(data,status){
//            if(status == "success"){
//                //如果获取数据成功，调用重新绘制数据的方法
//                drawQueryData(data);
//            }else{
//                alert("查询数据出错！");
//            }
//        });
    }
</script>
</body>

</html>